.navigation-clean {
  background:#fff;
  padding-top:10px;
  padding-bottom:10px;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}

@media (max-width:767px) {
  .navigation-clean {
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .navigation-clean .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

.navigation-clean .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.navigation-clean .navbar-brand:hover {
  color:#222;
}

.navigation-clean.navbar-inverse .navbar-brand:hover {
  color:#f0f0f0;
}

.navigation-clean .navbar-brand img {
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.navigation-clean .navbar-toggle {
  border-color:#ddd;
}

.navigation-clean .navbar-toggle:hover, .navigation-clean .navbar-toggle:focus {
  background:none;
}

.navigation-clean.navbar-inverse .navbar-toggle {
  border-color:#555;
}

.navigation-clean .navbar-toggle .icon-bar {
  background-color:#888;
}

.navigation-clean.navbar-inverse .navbar-toggle .icon-bar {
  background-color:#eee;
}

.navigation-clean .navbar-collapse, .navigation-clean .navbar-form {
  border-top-color:#ddd;
}

.navigation-clean.navbar-inverse .navbar-collapse, .navigation-clean.navbar-inverse .navbar-form {
  border-top-color:#333;
}

.navigation-clean .navbar-nav > .active > a, .navigation-clean .navbar-nav > .open > a {
  background:none;
  box-shadow:none;
}

.navigation-clean.navbar-default .navbar-nav > .active > a, .navigation-clean.navbar-default .navbar-nav > .active > a:focus, .navigation-clean.navbar-default .navbar-nav > .active > a:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean.navbar .navbar-nav > li > a {
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean.navbar-default .navbar-nav > li > a {
  color:#465765;
}

.navigation-clean.navbar-default .navbar-nav > li > a:focus, .navigation-clean.navbar-default .navbar-nav > li > a:hover {
  color:#37434d !important;
  background-color:transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

@media (max-width:767px) {
  .navigation-clean .navbar-nav .open .dropdown-menu {
    box-shadow:none;
  }
}

@media (max-width:767px) {
  .navigation-clean .navbar-nav .open .dropdown-menu > li > a {
    color:#37434d;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a {
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a:hover {
  background:#eee;
  color:inherit;
}

.navigation-clean.navbar-inverse {
  background-color:#1f2021;
  color:#fff;
}

.navigation-clean.navbar-inverse .navbar-nav > .active > a, .navigation-clean.navbar-inverse .navbar-nav > .active > a:focus, .navigation-clean.navbar-inverse .navbar-nav > .active > a:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean.navbar-inverse .navbar-nav > li > a {
  color:#dfe8ee;
}

.navigation-clean.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean.navbar-inverse .navbar-nav > li > a:hover {
  color:#fff !important;
  background-color:transparent;
}

.navigation-clean.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color:#1f2021;
}

.navigation-clean.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean.navbar-inverse .dropdown-menu > li > a {
  color:#f2f5f8;
}

.navigation-clean.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean.navbar-inverse .dropdown-menu > li > a:hover {
  background:#363739;
}

@media (max-width:767px) {
  .navigation-clean.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color:#fff;
  }
}

.container-fluid.top-container {
  height:auto;
}

.row.text-center.main-header {
  background-color:rgb(18,94,147);
  background-repeat:no-repeat;
  background-size:cover;
  margin-bottom:0px;
  height:800px;
}

.text-center {
  color:rgb(1,1,1);
  font-family:Arsenal, sans-serif;
  padding-top:40px;
  padding-bottom:20px;
  margin-top:0px;
  margin-bottom:-31px;
}

.text-center {
  margin-bottom:37px;
}

.row {
  margin-bottom:10px;
}

.col-md-4 {
  font-size:25px;
}

.icon.ion-social-html5 {
  color:rgb(249,3,3);
  font-size:175px;
}

.icon.ion-social-css3 {
  color:#0114bb;
  font-size:175px;
}

p {
  color:rgb(1,1,1);
  font-family:Arsenal, sans-serif;
  font-size:25px;
  height:35px;
}

.icon.ion-social-javascript {
  color:rgb(255,209,48);
  font-size:175px;
}

.projects-horizontal {
  background-color:rgb(254,254,254);
}

.name.project-names {
  font-family:Arsenal, sans-serif;
  color:rgb(1,1,1);
}

.contact-headers {
  color:rgb(255,255,255);
  font-family:Arsenal, sans-serif;
}

.fa.fa-envelope.contact-icons {
  color:rgb(62,140,228);
}

.btn.btn-primary.btn-block {
  background-color:rgb(62,140,228);
  color:rgb(255,255,255);
  font-size:22px;
  font-family:Arsenal, sans-serif;
}

.row.text-center.main-header {
  background:linear-gradient( rgba(1,1,1,0.6), rgba(1,1,1,0.6)), url("http://mobo.co.uk/wp-content/uploads/2014/11/Website-Design-Background.png");
  background-position:center;
}

.col-md-12.header-name {
  margin-top:60px;
}

#header-name-text {
  margin-top:50px;
  color:rgb(255,254,253);
  font-size:28px;
  font-family:Arsenal, sans-serif;
}

#front-pic {
  height:210px;
  width:185px;
  margin-top:40px;
  border:4px solid white;
}

.col-md-12.front-title {
  padding-right:0px;
  padding-left:0px;
  margin-top:51px;
}

#front-end {
  background-color:#ffffff;
  color:rgb(6,6,6);
  padding-bottom:17px;
  padding-top:8px;
  margin-top:30px;
  font-family:Arsenal, sans-serif;
  margin-bottom:30px;
}

.projects-container {
  background-color:rgb(207,207,207);
  padding-top:20px;

  
}

.text-center.projects-header {
  font-family:Arsenal, sans-serif;
  margin-bottom:0px;
  color: black;
}

#Project-names {
  font-family:Arsenal, sans-serif;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-family:Arsenal, sans-serif;
}

 .contact-container {
  background-color:rgb(33, 33, 33);
  padding-top:20px;
  padding-bottom:20px;
}

.contact-icons {
  color:rgb(62,140,228);
}

.contact-labels {
  color:white;
  font-size:18px;
}

.form-boxes {
  background-color:rgb(86,86,86);
}

.contact-form-text {
  color:white;
}

.text-center.projects-header {
  font-family:Arsenal, sans-serif;
  font-size:35px;
}

.rounded-image {
  border-radius:2%;
  

}

#skills-line {
  padding:0px;
}

#skills-header {
  margin-bottom:0px;
}

.skills-fix {
  height:80px;
}
.alert-success {
    visibility: hidden;
   
   

}
.projects-clean {
  color:#313437;
  background-color:#fff;
}

.projects-clean p {
  color:#7d8285;
}

.projects-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .projects-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.projects-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.projects-clean .intro p {
  margin-bottom:0;
}

.projects-clean .projects {
  padding-bottom:40px;
}

.projects-clean .item {
  text-align:center;
  padding-top:50px;
  min-height:425px;
}

.projects-clean .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.projects-clean .item .description {
  font-size:15px;
  margin-top:15px;
  height: 70px;

 
}
.map-clean {
  color:#313437;
  background-color:#fff;
}

.map-clean p {
  color:#7d8285;
}

.map-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}
.static-map {
  margin-bottom:20px;
}

@media (max-width: 768px) and (min-width: 767px) {
  #contactForm .static-map img {
    width:100%;
  }
}

@media (max-width:767px) {
  .map-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.map-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.map-clean iframe {
  background-color:#eee;
}
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.form-control {
  color: rgb(62,200,300);
}
.project-buttons{ 
margin-top: auto;

}
 .button-projects{ 
 border-radius: 50px; 
 margin-top: 10px;
 background-color: rgb(62,140,228); 

}
@media (max-width:990px){
 .projects-clean .item .description {
  font-size:15px;
  margin-top:15px;
  height: 40px;

 
}
}
@media (max-width:990px){
 .projects-clean .item .description {
  font-size:15px;
  margin-top:15px;
  height: 50px;
}
.lets-go-button{
   margin-top:30px;
}
}

